<!DOCTYPE html>
<html>
<head>
<title>UNO Multiplayer</title>
</head>
<body>

<h1>UNO Multiplayer</h1>

<input id="username" placeholder="Name">
<input id="room" placeholder="Room">

<button onclick="join()">Join</button>
<button onclick="start()">Start</button>
<button onclick="draw()">Draw</button>

<h3>Players</h3>
<div id="players"></div>

<h3>Table</h3>
<div id="table"></div>

<h3>Your Cards</h3>
<div id="hand"></div>

<script>

let socket

function join(){

let room=document.getElementById("room").value
let username=document.getElementById("username").value

socket=new WebSocket(
(location.protocol==="https:"?"wss://":"ws://")
+window.location.host
+"/ws/game/"+room+"/"
)

socket.onopen=()=>{

socket.send(JSON.stringify({
type:"join",
username:username
}))

}

socket.onmessage=(e)=>{

let data=JSON.parse(e.data)

if(data.type==="players_update"){
document.getElementById("players").innerText=data.players.join(", ")
}

if(data.type==="state"){

document.getElementById("table").innerText=
data.table.color+" "+data.table.value

let h=""

data.hand.forEach(c=>{
h+=`<button onclick='play(${JSON.stringify(c)})'>${c.color} ${c.value}</button>`
})

document.getElementById("hand").innerHTML=h

}

if(data.type==="game_over"){
alert("Loser: "+data.loser)
}

}

}

function start(){
socket.send(JSON.stringify({type:"start"}))
}

function draw(){
socket.send(JSON.stringify({type:"draw"}))
}

function play(card){
socket.send(JSON.stringify({type:"play",card:card}))
}

</script>

</body>
</html>